version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: guardz-backend
    ports:
      - '${PORT}:${PORT}' # Uses the variable from .env
    volumes:
      - ./backend:/app
      - /app/node_modules
    # Load all variables from the .env file into the container
    env_file:
      - .env
    command: npm run start:dev

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: guardz-frontend
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    # Load variables here too so Vite can see VITE_API_URL
    env_file:
      - .env
    depends_on:
      - backend
    command: npm run dev -- --host